.card {
    padding: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
}

.image {
    margin: 10px;
    width: 150px;
    height: 100px;
}

.list {
    align-items: flex-start;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

ul {
    list-style: none
}

P {
    text-align: start;
}

li {
    margin: 10px;
}

.row {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: 10px;
    gap: 20px;
}